spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/AlexMall_wms
    driver-class-name: com.mysql.jdbc.Driver

  application:
    name: Mall-Ware

  cloud:
    nacos:
      serverAddr: 127.0.0.1:8848
      username: 'nacos'
      password: 'nacos'
  config:
    import:
      - nacos:Mall-ware.properties?refreshEnabled=true&group=DEFAULT_GROUP

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  rabbitmq:
    host: localhost
    virtual-host: /
    listener:
      simple:
        acknowledge-mode: manual

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto

server:
  port: 11000

logging:
  level:
    com.alex: debug

seata:
  tx-service-group: Mall-Ware-tx-group
  service:
    vgroup-mapping:
      Mall-Ware-tx-group: default
