spring:
  application:
    name: Mall-Search
  cloud:
    nacos:
      serverAddr: 127.0.0.1:8848
      username: 'nacos'
      password: 'nacos'
    sentinel:
      transport:
        port: 8719
        dashboard: localhost:8333
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss

  config:
    import:
      - nacos:Mall-Search.properties?refreshEnabled=true&group=DEFAULT_GROUP
  thymeleaf:
    cache: false
    enabled: true

logging:
  level:
    com.alex.mallproduct: debug

server:
  port: 12000

